Package: com.kushy.minecraftsettings
Name: MinecraftSettings
Depends: mobilesubstrate,ws.hbang.common
Version: 4.0
Architecture: iphoneos-arm
Description: Make your setings minecraft
Maintainer: kushy
Author: kushy
Section: Tweaks
